@page "/about"
<div class="about" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>About</strong>

    Protoocol Information
</div>

@code {
// [Parameter]
// public string Title { get; set; }
}